@charset "UTF-8";
/* CSS Document */

div.span12{
   
}
div.header{
   text-align:center;
   background-color: #C11B17;  
}
div.content{
 text-align:center;
 max-width: 800px;
	margin: 0 auto;
}
.content .controls {
 text-align: left;
}